.mobile-nav-menu {
  position: absolute;
  top: 100px;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: white;
  opacity: 0.9;
  z-index: 100;
  transition: all 0.3s ease-in-out;

  &.is-active {
    left: 0;
  }

  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    li {
      width: 100%;
      height: auto;
      text-align: center;
      list-style: none;
      margin-top: 2rem;

      a {
        display: block;
        height: auto;
        cursor: pointer;
        text-decoration: none;
        color: $black-pearl;
        font-size: 1.5rem;
      }
    }
  }
}
