.page-hero {
  width: 100%;
  height: 30vh;
  background-image: url("https://source.unsplash.com/jN_M0McVNeI/2400x1589");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
